.dashboard {
  text-decoration: none;
  position: relative;
  letter-spacing: -0.03em;
  color: inherit;
  display: inline-block;
  min-width: 72px;
  z-index: 1;
}
.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lgi) 0 0;
  color: var(--color-white);
}
.masterclass1 {
  text-decoration: none;
  position: relative;
  letter-spacing: -0.03em;
  color: inherit;
  display: inline-block;
  min-width: 80px;
  z-index: 1;
}
.masterclass-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lgi) 0 0;
}
.bonuses {
  text-decoration: none;
  position: relative;
  letter-spacing: -0.03em;
  color: inherit;
  display: inline-block;
  min-width: 58px;
  z-index: 1;
}
.bonuses-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 16px 0 0;
}
.agency-setting,
.tutorial {
  text-decoration: none;
  position: relative;
  letter-spacing: -0.03em;
  color: inherit;
  display: inline-block;
  min-width: 50px;
  z-index: 1;
}
.agency-setting {
  min-width: 100px;
}
.frame-group {
  width: 625px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 51px 0 0;
  box-sizing: border-box;
  gap: var(--gap-21xl);
  max-width: 100%;
}
.full-screen,
.prady {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  z-index: 1;
}
.full-screen {
  letter-spacing: -0.03em;
  min-width: 70px;
}
.prady {
  min-width: 40px;
}
.frame-parent,
.masterclass-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent {
  width: 907px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.masterclass-inner {
  width: 1107px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.frame-child {
  width: 1440px;
  height: 937px;
  position: relative;
  background-color: var(--color-lavender);
  display: none;
  max-width: 100%;
}
.create-your-first {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.03em;
  font-weight: 600;
  font-family: inherit;
  z-index: 2;
}
.create-your-first-shorts-video-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 7px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-item {
  height: 48px;
  width: 182px;
  position: relative;
  border-radius: var(--br-10xl);
  background-color: var(--color-white);
  display: none;
}
.vector-icon {
  width: 14px;
  height: 14px;
  position: relative;
  z-index: 1;
}
.vector-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.create-campaign {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: -0.03em;
  font-family: var(--font-manrope);
  color: var(--color-mediumblue);
  text-align: left;
  display: inline-block;
  min-width: 120px;
  z-index: 1;
}
.frame-container,
.rectangle-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.rectangle-group {
  cursor: pointer;
  border: 0;
  padding: 12px var(--padding-lgi) 14px;
  background-color: var(--color-white);
  border-radius: var(--br-10xl);
  justify-content: flex-start;
  gap: 10px;
  z-index: 2;
}
.frame-container {
  width: 1179px;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.frame-inner {
  width: 1170px;
  height: 749px;
  position: relative;
  border-radius: var(--br-16xl);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.create-your-first1,
.masterclass2 {
  position: relative;
  letter-spacing: -0.03em;
  display: inline-block;
  z-index: 3;
}
.masterclass2 {
  margin: 0;
  width: 519px;
  font-size: inherit;
  line-height: 25px;
  font-weight: 700;
  font-family: inherit;
  max-width: 100%;
}
.create-your-first1 {
  width: 162px;
  font-weight: 600;
  flex-shrink: 0;
}
.create-your-first-shorts-video-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.group-icon {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 4;
}
.frame-child1 {
  width: 76px;
  height: 76px;
  position: relative;
  z-index: 5;
}
.frame-parent2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-16xl) 58px 117px 211px;
  position: relative;
  gap: var(--gap-13xl);
}
.create-your-first2 {
  position: relative;
  letter-spacing: -0.03em;
  font-weight: 600;
  z-index: 3;
}
.frame-parent1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mid);
  min-width: 323px;
  max-width: 100%;
}
.frame-child2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 3;
}
.frame-child3 {
  position: absolute;
  top: 117px;
  left: 211px;
  width: 76px;
  height: 76px;
  z-index: 4;
}
.frame-parent4 {
  align-self: stretch;
  height: 310px;
  position: relative;
}
.create-your-first3 {
  position: relative;
  letter-spacing: -0.03em;
  font-weight: 600;
  z-index: 3;
}
.frame-div,
.frame-parent3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent3 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-mid);
  min-width: 323px;
}
.frame-div {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-21xl);
  font-size: var(--font-size-lg);
}
.rectangle-div {
  height: 123px;
  width: 1034px;
  position: relative;
  border-radius: var(--br-2xl);
  background-color: var(--color-midnightblue);
  display: none;
  max-width: 100%;
}
.image-9-icon {
  width: 204px;
  flex: 1;
  position: relative;
  border-radius: 12px;
  max-height: 100%;
  object-fit: cover;
  z-index: 4;
}
.image-9-wrapper {
  height: 88px;
  /* width: 344px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.next-webinar-starting {
  position: relative;
  letter-spacing: -0.03em;
  font-weight: 600;
  z-index: 4;
}
.next-webinar-starting-wrapper {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: flex-start; */
  /* padding: var(--padding-11x/l) 0 0; */
  /* justify-content: flex-start; */
}
.th-august {
  position: relative;
  letter-spacing: -0.03em;
  font-weight: 600;
  display: inline-block;
  min-width: 111px;
  z-index: 5;
}
.th-august-wrapper {
  width: 285px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xl) var(--padding-xl) 0 0;
  box-sizing: border-box;
  color: #9eff62;
}
.aug15 {
  color: #9eff62;
}
.frame-child4 {
  height: 48px;
  width: 146px;
  position: relative;
  border-radius: var(--br-10xl);
  background-color: var(--color-white);
  display: none;
}
.get-notified {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: -0.03em;
  font-weight: 500;
  font-family: var(--font-manrope);
  color: var(--color-mediumblue);
  text-align: left;
  display: inline-block;
  min-width: 85px;
  z-index: 1;
}
.group-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-11xl) var(--padding-smi) 31px;
  background-color: var(--color-white);
  border-radius: var(--br-10xl);
  flex-direction: row;
  white-space: nowrap;
  z-index: 4;
}
.group-button:hover {
  background-color: #e6e6e6;
}
.frame-wrapper,
.group-button,
.rectangle-container,
.rectangle-parent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.rectangle-parent1 {
  align-items: center;
  justify-content: space-around;
}

.frame-wrapper {
  flex-direction: column;
  /* padding: var(--padding-xl) 0 0; */
}
.rectangle-container,
.rectangle-parent1 {
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent1 {
  align-self: stretch;
  border-radius: var(--br-2xl);
  background-color: var(--color-midnightblue);
  flex-direction: row;
  padding: 18px var(--padding-mid) var(--padding-mid);
  row-gap: 20px;
  z-index: 3;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.rectangle-container {
  flex: 1;
  border-radius: var(--br-16xl);
  background-color: var(--color-white);
  flex-direction: column;
  padding: 55px 65px 94px 71px;
  gap: 50px;
  z-index: 2;
}
.masterclass-container,
.rectangle-parent {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-indigo);
  font-family: var(--font-manrope);
}
.masterclass-container {
  width: 1179px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 4px 0 var(--padding-8xs);
}
.rectangle-parent {
  align-self: stretch;
  background-color: var(--color-lavender);
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 33px var(--padding-2xl) 75px var(--padding-xl);
  gap: var(--gap-13xl);
  z-index: 1;
}
.mask-group-icon {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: -67px;
  max-height: 100%;
  width: 1574px;
}
/* .arrow-icon,
.image-8-icon,
.mask-group-icon1,
.vector-icon1 {
  position: absolute;
  top: 43px;
  left: 1219px;
  width: 5px;
  height: 7px;
  object-fit: contain;
  z-index: 1;
} */
/* .image-8-icon,
.mask-group-icon1,
.vector-icon1 {
  top: 26px;
  left: 1255px;
  width: 36px;
  height: 36px;
}
.image-8-icon,
.vector-icon1 {
  top: 43px;
  left: 1349px;
  width: 12px;
  height: 6px;
} */
.image-8-icon {
  top: 23px;
  left: 130px;
  width: 46px;
  height: 46px;
}
.mask-group-parent {
  width: 100%;
  height: 87px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  left: 0;
}
.next-webinar-starting {
  display: flex;
}
.masterclass {
  width: 100%;
  position: relative;
  border-radius: var(--br-16xl);
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-16xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-13xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-thistle);
  font-family: var(--font-manrope);
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
} */

.navbar {
  background-color: #4725ce;
  padding: 10px 20px;
  font-family: var(--font-manrope);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 40px;
}

.nav-menu {
  display: flex;
  list-style: none;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.nav-menu li {
  margin-left: 20px;
}

.nav-menu li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.profile-container {
  display: flex;
  align-items: center;
}

.profile-container a {
  display: flex;
  align-items: center;
  color: white;
}

.profile-container img.mask-group-icon1 {
  height: 30px;
  margin-right: 5px;
}

.profile-container img.vector-icon1 {
  height: 7px;
  margin-left: 5px;
}

.arrow-icon {
  height: 10px;
  margin-left: 5px;
}

.menu-icon {
  display: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}
.full-s,
.dp {
  text-decoration: none;
}

.full-s {
  margin-right: 30px;
}

.dp {
  margin-right: 15px;
}

@media (max-width: 850px) {
  .rect-active {
    margin-top: 188px;
  }
  .nav-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 47px;
    left: -35px;
    background-color: #4725ce;
  }

  .nav-menu.active {
    display: flex;
    z-index: 3;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .nav-menu li {
    width: 100%;
    text-align: left;
    margin: 10px 0;
  }

  .menu-icon {
    display: block;
  }
}

@media screen and (max-width: 1200px) {
  /* .rectangle-parent1 {
    flex-wrap: wrap;
  } */
  .rectangle-container {
    padding-left: var(--padding-16xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
}

@media screen and (max-width: 1050px) {
  .frame-parent {
    flex-wrap: wrap;
  }
  .rectangle-parent {
    padding-top: var(--padding-2xl);
    padding-bottom: 49px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 820px) {
  .next-webinar-starting {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 750px) {
  .frame-group {
    flex-wrap: wrap;
    gap: var(--gap-xl);
    padding-right: 25px;
    box-sizing: border-box;
  }
  .frame-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .frame-parent2 {
    gap: var(--gap-base);
    padding-left: 105px;
    padding-right: 29px;
    box-sizing: border-box;
  }
  .frame-div {
    gap: var(--gap-xl);
  }
  .rectangle-container {
    gap: 25px;
    padding-top: 36px;
    padding-bottom: 61px;
    box-sizing: border-box;
  }
  .rectangle-parent {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-13xl);
    box-sizing: border-box;
  }
  .masterclass,
  .rectangle-parent {
    gap: var(--gap-base);
  }
}

@media screen and (max-width: 710px) {
  .next-webinar-starting-wrapper {
    font-size: 15px;
  }
}

@media screen and (max-width: 656px) {
  .next-webinar-starting-wrapper {
    font-size: 13px;
  }
  .image-9-icon {
    width: 158px;
  }
  .group-button {
    padding: 8px;
  }
}

@media screen and (max-width: 556px) {
  .image-9-icon {
    width: 133px;
  }
  .get-notified {
    min-width: 0px;
    font-size: 13px;
  }
}

@media screen and (max-width: 508px) {
  .image-9-icon {
    width: 0px;
  }
  .next-webinar-starting-wrapper {
    font-size: 17px;
  }
}
@media screen and (max-width: 450px) {
  .create-your-first,
  .masterclass2 {
    font-size: var(--font-size-xl);
  }
  .masterclass2 {
    line-height: 20px;
  }
  .next-webinar-starting,
  .th-august {
    font-size: var(--font-size-base);
  }
}
